# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/images/hero-screenshot-1.png
src/images/hero-screenshot-2.png
src/images/app-mockup.png
src/images/apple-icon.png
src/images/customers-logo-strip.png
src/images/demo/AboutUsPage.jpeg
src/images/demo/AgencyLandingPage.jpeg
src/images/demo/BlogIndexPage.jpeg
src/images/demo/ContactUsPage.jpeg
src/images/demo/EventLandingPage.jpeg
src/images/demo/HostingCloudLandingPage.jpeg
src/images/demo/HotelTravelLandingPage.jpeg
src/images/demo/LoginPage.jpeg
src/images/demo/MainLandingPageHero.png
src/images/demo/PricingPage.jpeg
src/images/demo/PrivacyPolicyPage.jpeg
src/images/demo/RestaurantLandingPage.jpeg
src/images/demo/SaaSProductLandingPage.jpeg
src/images/demo/ServiceLandingPage.jpeg
src/images/demo/TermsOfServicePage.jpeg
src/images/facebook-icon.svg
src/images/google-icon.png
src/images/google-play-icon.png
src/images/logo-full.png
src/images/logo-light.svg
src/images/logo.svg
