:root {
  --midnight-blue: #03045eff;
  --star-command-blue: #0077b6ff;
  --pacific-blue: #00b4d8ff;
  --middle-blue: #90e0efff;
  --light-cyan: #caf0f8ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--light-cyan);
}

.jumbotron {
  text-align: center;
}

.jumbotron {
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
}

#bannerimage {
  width: 100%;
  background-image: url("../src/images/dashquiz.jpg");
  height: 900px;
  background-color: var(--star-command-blue);
  background-position: center;
}

.button-stack {
  background-color: var(--midnight-blue);
}

.button-stack:hover {
  background-color: var(--pacific-blue);
}

.arrow-img {
  width: 100%;
  background-image: url("../src/images/arrow.jpg");
  height: 900px;
  background-position: center;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.flip-scores-img {
  width: 100%;
  background-image: url("../src/images/dashquiz.jpg");
  height: 250px;
  background-color: var(--star-command-blue);
  background-position: center;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.text {
  font-size: 3rem;
}

.questions {
  text-align: center;
}

.create-quiz-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card-styles {
  border: 2px solid var(--pacific-blue);
  margin-top: 2rem;
}
