:root {
  --midnight-blue: #03045eff;
  --star-command-blue: #0077b6ff;
  --pacific-blue: #00b4d8ff;
  --middle-blue: #90e0efff;
  --light-cyan: #caf0f8ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--light-cyan);
}

.jumbotron {
  text-align: center;
}

.create-quiz {
  background-color: var(--midnight-blue);
}
.jumbotron {
  color: var(--midnight-blue);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.img-dash {
  width: 20rem;
  opacity: 90rem;
}
#bannerimage {
  width: 100%;
  background-image: url("../src/images/dashquiz.jpg");
  height: 500px;
  background-color: var(--light-cyan);
  background-position: center;
}
